{{ define "content" }}
  <article>
    <h2>Error</h2>
    <blockquote>
      “Everything fails, all the time.”
      <footer>
        <cite>— Werner Vogels</cite>
      </footer>
    </blockquote>
    <p>
      {{ .Model.Error }}
    </p>
    <footer>
      <small>RequestID: {{ .Meta.requestId }}</small>
    </footer>
  </article>
{{ end }}
