{{ define "content" }}
  <article>
    <h2>Articles</h2>
    <blockquote>
      “A vacation is having nothing to do and all day to do it in.”
      <footer>
        <cite>— Robert Orben</cite>
      </footer>
    </blockquote>
    <p>
      Vacations are important for overall well-being, providing a break from routine, reducing stress, and improving physical and mental health.
    </p>
    {{ if gt (len .Articles) 0 }}
      <table>
        <thead>
          <tr>
            <th scope="col">Article</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Articles }}
            <tr>
              <td><a href="/article/{{ .Slug }}">{{ .Name }}</a></td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    {{ else }}
      <p>
        No articles!
      </p>
    {{ end }}
  </article>
{{ end }}
