{{ define "content" }}
  <article>
    <h2>Welcome</h2>
    <blockquote>
      “The biggest adventure you can ever take is to live the life of your dreams.”
      <footer>
        <cite>— Oprah Winfrey</cite>
      </footer>
    </blockquote>
    <p>
      Adventures are important because they foster personal growth, provide a sense of freedom and fulfillment, and can strengthen relationships.
    </p>
  </article>
{{ end }}
